@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
/* --nav-- */
.nav-color{
    color: aliceblue;
}

.navbar-custom {
    background-color: #E9EDC9;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #090909; /* White text color */
    padding: 0px 30px;
    font-weight:500;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #d88028; /* Hover color */
}

.nav-align{
    justify-content: center;
    align-items: center;
}

/* .signin{
    border: 1px solid #D4A373;
    margin-right: 20px;
    padding: 8px 0px;
    color: white;
    background-color: #e2872b;
    border-radius: 5px;
}
.white-color{
    color: #fff;
    
} */
.design{
    border: 2px solid #e2872b;
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    background-color: #e2872b;
    border-radius: 5px;
    margin-right: 20px;
    transition: 0.3s;
}
.design:hover{
    background-color: #E9EDC9;
    text-decoration: none;
    color: black;

}

/* --end nav-- */

/* hero section  */

header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.32),rgba(4, 9, 30, 0.368)),url(home.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.hero-btn:hover{
    background-color: #e2872b;
    border:2px solid #e2872b;
    color: #fff;
    text-decoration: none;
}
.text-box h1{
    font-size: 80px;
    font-weight: 600;
}

/* --hero section end --  */


/* about section  */
.about{
    /* background-color: #FEFAE0; */
    padding: 100px;
}
.about-div{
    display: flex;
    /* margin: 100px; */
    padding: 20px;
}

.about-col{
    padding: 50px;
}

.about-col img{
    max-width: 100%;
}

.about-col h2{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 100;
}
.about-col p{
    color: #656361;
    text-align: justify;
}

/* --close about section --  */

/* --slider section --   */
.service{
    background-color: #E5E6E4;
    height: 800px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.service-div{
    padding: 100px;
}
/* .card-col{
    padding: 20px;
    margin: 30px;
} */
.service-div .card {
    margin: 50px; /* Adjust the value as needed */
    border: 2px solid #989898;
    /* border-left: 2px solid #090909; */
}

.card-body{
    background-color: #FBFBF2;
}

.courosol{
    width: 80%;
    height: 200px;
    
}

.slider-image{
    max-height: 600px;
    margin-top: 100px;
}
/* --end slider section --  */

/* service  */
.service-sction{
    padding: 50px 0px;
}
.col{
    transition: 0.3s;
}
.col:hover{
    box-shadow: 2px 2px 20px rgb(104, 104, 104);
}

/* end service  */

/* footer  */
.footer{
    height: 200px;
    background-color: #787675;
}

/* --footer end--  */


/* ---catagory page--  */

.catagory-container{
    margin: 50px;
}
.col{
    margin: 0;
    /* background-color: #FEFAE0; */
}
.card-img{
    /* padding: 30px; */
    /* margin: 20px; */
    /* height: 300px; */
}
.box{
    background-color: #FEFAE0;
}

.card-title{
    font-size: 25px;
    margin-bottom: 20px;
}
.card-title span{
    font-size: 18px;
}

.card-icon{
    font-size: 30px;    
}

.card-row{
    display: flex;
    /* margin-bottom: 20px; */
}
.card-row-col{
    padding-right: 15px;
    display: flex;

}
.card-row-col p{
    font-size: 22px;
}

.card-row-col-col p{
    font-size: 22px;
    padding-left: 10px;
}

.card-btn{
    border: 1px solid #090909;
    padding: 10px 20px;
    margin-top: 50px;
    color: #090909;
    text-decoration: none;
    margin-bottom: 20px;
}
.card-btn:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(106, 106, 106);
}
.location{
    display: flex;
    /* padding-right: 20px; */
    margin-bottom: 20px;
}
.location-col{
    padding-right: 10px;
}
.space{
    height: 20px;
}



/* footer  */

    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-left: 80px; */
    }
    .footer-icon{
        margin-left: 180px;
        
    }
    .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    }
    .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
    }
    .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    }

    .social-icons a:active,
    .social-icons a:focus,
    .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
    }
    .social-icons a.facebook:hover {
    background-color: #3b5998;
    }
    .social-icons a.twitter:hover {
    background-color: #00aced;
    }
    .social-icons a.linkedin:hover {
    background-color: #007bb6;
    }
    .social-icons a.dribbble:hover {
    background-color: #ea4c89;
    }

    /* footer end  */